<h1>Lists#show</h1>
<p><%= @list.name %> </p>
<%if @list.bookmarks %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title  %> - <%= link_to "delete", bookmark_path(bookmark), method: :delete %></li>
      <p><%= bookmark.comment %></p>
      <br>
    <% end %>
  </ul>
<% end %>
<%= link_to "Add movie to list", new_list_bookmark_path(@list) %>
<%= link_to "Back to lists", root_path %>
